:root {
    --heading-color: #000;
    --heading-bg: #cff;
}


html {
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    height: 100%;
    line-height: 1.5;
}

.container {
    height: 100vh;
    text-align: center;

    & h1 {
        display: inline-block;
        margin: 1em;
        padding: 0 1em;
        font-size: 10vw;
        font-family: monospace;
        font-weight: 100;
        letter-spacing: 0.5em;
        color: var(--heading-color);
        background-color: var(--heading-bg);
    }
}
