:root {
    --heading-color: #333;
    --heading-bg: #ff6;
    --text-color: #444;
}

.container {
    padding: 1em;

    & h1 {
        display: inline-block;
        font-family: Helvetica;
        font-size: 2em;
        color: var(--heading-color);
        background-color: var(--heading-bg);
        padding: 0.3em;        
    }
}

p {
    color: var(--text-color);
    font-family: monospace;
    font-size: 1.4em;
    max-width: 40em;
}
